*.obj filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
data/*.obj filter=lfs diff=lfs merge=lfs -text
data/voxel_grid.ply filter=lfs diff=lfs merge=lfs -text
data/pcd.ply filter=lfs diff=lfs merge=lfs -text
data/skeleton_standard.obj filter=lfs diff=lfs merge=lfs -text
data/feq_mesh_scale1.obj filter=lfs diff=lfs merge=lfs -text
data/graph.obj filter=lfs diff=lfs merge=lfs -text
data/iso_mesh.obj filter=lfs diff=lfs merge=lfs -text
data/mesh_SQM.obj filter=lfs diff=lfs merge=lfs -text
data/mesh_SQM_tri.obj filter=lfs diff=lfs merge=lfs -text
data/skeleton.obj filter=lfs diff=lfs merge=lfs -text
data/feq_mesh.obj filter=lfs diff=lfs merge=lfs -text
data/iso_mesh_from_stick.obj filter=lfs diff=lfs merge=lfs -text
src/mesh_example_tri.obj filter=lfs diff=lfs merge=lfs -text
src/skeleton.obj filter=lfs diff=lfs merge=lfs -text
src/skeleton_vradii.obj filter=lfs diff=lfs merge=lfs -text
src/feq_mesh.obj filter=lfs diff=lfs merge=lfs -text
src/feq_mesh_scale0.01.obj filter=lfs diff=lfs merge=lfs -text
src/feq_mesh_true1.obj filter=lfs diff=lfs merge=lfs -text
src/mesh_example.obj filter=lfs diff=lfs merge=lfs -text
src/feq_mesh_scale0.1.obj filter=lfs diff=lfs merge=lfs -text
src/feq_mesh_scale1.obj filter=lfs diff=lfs merge=lfs -text
src/feq_mesh_true.obj filter=lfs diff=lfs merge=lfs -text
